@import "src/common/scss/mixins";

.container{
  @include flex(center,flex-start,column);
  .button{
    margin-bottom: 2rem;
    border:none;
    background-color: var(--colors-ui-base);
    box-shadow: var(--shadow);
    border-radius: var(--radii);
    cursor: pointer;
    @include flex(center,center);
    gap: 0.75rem;
    line-height: 2.5;
    padding: 0 1.5rem;
  }
}