@mixin flex($justify,$align,$direction:row,$wrap:nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}
@mixin container(){
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 9rem;
  @media(max-width: 1240px){
    padding: 0 2rem;
  }
}