@import "src/common/scss/mixins";

.searchContainer {
  background-color: var(--colors-ui-base);
  padding: 1rem 2rem;
  border-radius: var(--radii);
  box-shadow: var(--shadow);
  @include flex(flex-start, center);

  & input {
    margin-left: 2rem;
    border: none;
    outline: none;
    color: var(--color-text);
    background-color: var(--colors-ui-base);
  }
}